{% extends "base/base_layout.html" %}
 {% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>关于移动安全框架</h1>
              
                  <p class="lead">
                      移动安全框架（MobSF）是一个自动化、一体化的移动应用（Android/iOS/Windows）渗透测试、恶意软件分析和安全评估框架，能够进行静态和动态分析。MobSF支持移动应用二进制文件（APK、XAPK、IPA和APPX），同时支持压缩的源代码，并提供REST API以与您的CI/CD或DevSecOps管道无缝集成。动态分析器帮助您执行运行时安全评估和交互式仪表化测试。
                  </p>
                  <p> <strong>作者:</strong> <a href="//twitter.com/ajinabraham">Ajin Abraham</a> </p>
                  <h2>积极的合作者</h2>
                    <p><a href="//github.com/magaofei">Magaofei</a></p>
                    <p><a href="//github.com/matandobr">Matan Dobrushin</a></p>
                    <p><a href="//github.com/superpoussin22">Vincent Nadal</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
